div.ecma-entry {
  height: 80vh;
  background-color: map-get($colors, softsand);
  border: 1px solid map-get($colors, dkorange);
  border-radius: 10px;
  box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.7) inset;

  pre.prettyprint {
    background-color: #445e5e;
    padding: 2vh 2vw;
    border: 1px solid burlywood;
    // font-size: .8em;
  }
  & .thin {
    font-family: map-get($fonts, Thin);
  }

  a {
    background-color: map-get($colors, sand);
  }
  overflow: auto;
  position: relative;

  pre {
    background-color: map-get($colors, deep);
  }
  div {
    font-family: map-get($fonts, Thin);
  }
}

div.ltbg {
  padding: baseline;
  p {
    margin: $baseline;
  }
}
code,
pre {
  padding: $baseline;
}
pre.code-sample {
  font: {
    family: map-get($fonts, CodePro), Sans-Serif !important;
  }
  #condensed-list {
    li {
      margin: 0.5vh auto;
      list-style-type: lower-latin;
    }
  }
}
