@charset "UTF-8";
/* SASS START:
sass --watch master.scss:master.css
*/
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400; }

/* this comment will show in css*/
li {
  list-style: none; }

body {
  padding: 1vw;
  font-family: "Code Source Pro", monospace;
  font-size: 1.2vw; }
  body .prettyprint {
    font-family: "Code Source Pro", monospace; }

div.bg-image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  background-image: url("img/steelbg2.jpg");
  width: 100vw;
  height: 100vh;
  filter: contrast(175%) brightness(23%); }

/* links */
a:active,
a:focus,
a:link,
a:visited,
a {
  margin: 2vh auto;
  color: #e6d8cc;
  text-decoration: none; }

a::before {
  content: "📌"; }

a:hover {
  color: #79e286; }

/*90 degree rot state-name*/
aside {
  position: absolute; }
  aside span.rot90 {
    top: 50%;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
    left: 0.5vw;
    position: absolute;
    font-family: "Cabin", Sans-Serif;
    font-size: 1.4vw;
    letter-spacing: 1.4em;
    color: #c29d9d; }

/* quiz blur */
.ans {
  padding: 0;
  -webkit-filter: blur(6px);
  font-family: "Raleway", Sans-Serif;
  font-size: 2.8vw;
  font-weight: 400;
  display: inline-block;
  opacity: 1%; }
  .ans:hover {
    /*-webkit-filter: blur(0px);*/
    animation: blurtxt 0.5s 1 forwards; }

@-webkit-keyframes blurtxt {
  0% {
    -webkit-filter: blur(3px); }
  100% {
    -webkit-filter: blur(0px); } }
/*-------NG-ANIMATE--------------*/
/* start 'enter' transition on main view */
main.ng-enter {
  /* transition on enter for .5s */
  transition: 0.5s;
  /* start with opacity 0 (invisible) */
  opacity: 0; }

/* end 'enter' transition on main view */
main.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1; }

div.entry {
  margin: 1vw;
  padding: 3vw; }
  div.entry p {
    font-size: 2.5vh;
    font-family: "Raleway", Sans-Serif; }
  div.entry .caption {
    color: #d0b588; }
  div.entry hr {
    width: 70%;
    margin: 5vh auto; }

/* width classes */
.w10 {
  width: 10vw; }

.w20 {
  width: 20vw; }

.w30 {
  width: 30vw; }

.w40 {
  width: 40vw; }

.w50 {
  width: 50vw; }

.w60 {
  width: 60vw; }

.w80 {
  width: 80vw; }

pre.prettyprint {
  font-size: 1vw;
  background-color: rgba(242, 219, 150, 0.89); }

.ctrtxt {
  text-align: center; }

.bg {
  font-size: 2em; }

.xl-txt {
  font-size: 3em; }

.shadn {
  box-shadow: 5px 5px 5px black;
  border: 1px solid wheat;
  margin: 1%;
  padding: 1%; }

.shadw {
  box-shadow: 10px 10px 25px black;
  margin: 1%;
  padding: 1%; }

.code-question-med {
  width: 80vw;
  color: #e6d8cc;
  border: 1px solid white;
  line-height: .9em;
  font-size: 0.8em;
  font-weight: 400;
  font-family: "Raleway", Sans-Serif;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1%;
  margin: auto; }

.code-question-compact {
  position: relative;
  border: 1px solid ivory;
  background: #a6b696;
  line-height: 1em; }

.code-question-tall {
  position: relative;
  line-height: 1vw;
  border: 1px solid lightgreen;
  background: #c29d9d; }

.squat {
  line-height: .5em; }

.col-2 {
  columns: 2 5vw;
  column-rule: 1px solid fuchsia; }

.col-3 {
  columns: 3 auto;
  column-rule: 1px solid #a38853; }

img {
  margin: 1vw;
  position: relative;
  right: 0;
  width: 60vw;
  border: 1px solid maroon; }

pre {
  white-space: pre-wrap;
  font-family: "Comfortaa", cursive; }

#appName {
  position: absolute;
  right: 30px;
  top: 10px;
  opacity: 1;
  color: #a6b696;
  font-family: "Cabin", Sans-Serif;
  font-size: 1.5vw;
  letter-spacing: 0.4em; }

.navlink-container a[ui-sref] {
  font-family: "Cabin", Sans-Serif;
  font-size: 1.2vw;
  font-color: wheat;
  text-decoration-color: #a6b696;
  transition: all 0.6s; }
  .navlink-container a[ui-sref]:hover {
    color: ivory; }

a[ui-sref]::before {
  content: none; }

nav.navbar {
  background-color: #3f6a96;
  position: static;
  margin-top: 3vh;
  border: 2px solid rgba(45, 44, 44, 0.7);
  box-shadow: inset 1px 1px 20px 8px rgba(0, 0, 0, 0.8); }
  nav.navbar a {
    color: transparent;
    text-decoration: none; }
  nav.navbar:hover {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
    border: 2px solid #d0b588;
    transition: all 2s; }
    nav.navbar:hover a {
      color: #d0b588; }
  nav.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto; }
  nav.navbar ul li {
    display: inline;
    text-align: center;
    width: 7vw; }

a[ui-sref] {
  opacity: 1; }

a[ui-sref]:hover {
  color: #9a854e;
  transition: color 1s; }

.underline {
  text-decoration: underline; }

.txt-left {
  text-align: left; }

.plain-frame0 {
  border: 1px solid black;
  box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.61);
  background-color: darkgrey;
  color: #18223b;
  padding: 1vh 1vw;
  margin: 10px;
  font-weight: 400;
  font-family: menlo, Sans-Serif;
  font-size: 1vw; }

.plain-frame1 {
  border: 1px solid black;
  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.61);
  background-color: #d9d4c5;
  color: #18223b;
  padding: 1vh 2vw;
  font-weight: 400;
  font-family: "Raleway", Sans-Serif, Sans-Serif;
  font-size: 1.5vw; }

.plain-frame2 {
  border: 1px solid black;
  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.61);
  background-color: #9e869b;
  color: #d9d4c5;
  padding: 1vh 2vw;
  font-weight: 400;
  font-family: "Raleway", Sans-Serif, Sans-Serif;
  font-size: 1.5vw; }

.plain-frame3 {
  border: 1px solid black;
  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.61);
  background-color: #a38853;
  color: #d9d4c5;
  padding: 1vh 2vw;
  font-weight: 400;
  font-family: "Raleway", Sans-Serif, Sans-Serif;
  font-size: 1.5vw; }

.simple-frame {
  border: 1px solid maroon;
  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.61);
  background-color: #d0b588;
  color: #18223b;
  padding: 1vh 2vw;
  font-weight: 400;
  font-family: Trebuchet, Sans-Serif;
  font-size: 1.4vw; }

.simple-frame2 {
  border: 1px solid maroon;
  box-shadow: 1px 1px 4px 1px rgba(45, 44, 44, 0.7);
  background-color: #2b503b;
  color: #d0b588;
  font-family: Trebuchet, sans-serif;
  font-weight: 400;
  padding: 1vh 2vw;
  font-weight: 400;
  font-family: Trebuchet, Sans-Serif;
  font-size: 1.4vw; }

.simple-frame3 {
  border: 1px solid maroon;
  box-shadow: 1px 1px 4px 1px rgba(45, 44, 44, 0.7);
  background-color: #a6b696;
  color: #f5facf;
  font-family: Trebuchet, sans-serif;
  font-weight: 400;
  padding: 1vh 2vw;
  font-weight: 400;
  font-family: Trebuchet, Sans-Serif;
  font-size: 1.4vw; }

.simple-wine-frame {
  padding: 1% 2%;
  border: 1px solid grey;
  background-color: rgba(47, 9, 15, 0.45); }

.framed1 {
  padding: 2%;
  font-size: 1.4vw;
  margin: auto;
  background-color: #2b503b;
  border: 1px solid brown;
  box-shadow: inset 2px 2px 10px 2px black;
  color: #bdbdbd; }

.framed2 {
  padding: 2%;
  font-size: 1.4vw;
  color: #18223b;
  margin: auto;
  background-color: #e3ab7e;
  border: 1px solid brown;
  box-shadow: inset 2px 2px 10px 2px black; }

pre {
  color: #a6b696; }

.framed3 {
  box-shadow: 4px 4px 8px 2px black;
  background-color: rgba(50, 179, 132, 0.78);
  padding: 2vh 2vw; }

.framed4 {
  padding: 2%;
  margin: 1%;
  background-color: #37474e;
  color: #ed996f;
  padding: auto, 10%;
  text-align: left;
  border: 1px solid skyblue; }

.framed5 {
  font-family: "Code Source Pro", monospace;
  padding: 2%;
  width: 100%;
  margin: 1%;
  box-shadow: inset 1px 1px 12px 2px black;
  background-color: #3f6a96;
  color: #ebb861;
  padding: auto, 10%;
  text-align: left;
  border: 1px solid #9a854e; }

.framed6 {
  padding: 2%;
  font-size: 1.4vw;
  margin: auto;
  background-color: rgba(166, 182, 150, 0.66);
  border: 1px solid brown;
  box-shadow: inset 2px 2px 10px 2px black;
  color: #441f1d; }

.framed7 {
  padding: 2%;
  font-size: 1.4vw;
  margin: auto;
  background-color: #9e869b;
  border: 1px solid burlywood;
  box-shadow: inset 2px 2px 10px 2px black;
  color: #441f1d; }

.framed8 {
  font-family: "Code Source Pro", monospace;
  padding: 2%;
  margin: 1%;
  box-shadow: inset 1px 1px 12px 2px black;
  background-color: #58708a;
  color: #ebb861;
  padding: auto, 10%;
  text-align: left;
  border: 1px solid #9a854e; }

.dk-frame {
  padding: 1%;
  font-family: "Cabin", Sans-Serif;
  color: #bdbdbd;
  border: 1px solid #e6d8cc;
  box-shadow: inset 1px 1px 12px 2px black;
  background-color: rgba(30, 35, 55, 0.6); }

.lt-frame {
  padding: 1%;
  font-family: "Cabin", Sans-Serif;
  color: black;
  border: 1px solid black;
  box-shadow: inset 1px 1px 12px 2px black;
  background-color: rgba(219, 193, 168, 0.5); }

.top-right-box {
  border: 1px solid maroon;
  background-color: rgba(199, 190, 132, 0.5);
  font-size: .6em;
  position: absolute;
  top: 9.2vh;
  right: 2.2vw;
  z-index: 10; }

.sm {
  font-size: 0.9090909091vw; }

.med {
  font-size: 1.5vw; }

.lg {
  font-size: 2vw; }

.caption-box {
  position: relative;
  border: 1px solid green;
  background-color: #a2c0c6;
  box-shadow: 2px 2px 12px 0 black;
  height: auto;
  font-family: "Cabin", Sans-Serif;
  font-size: 1.2vw;
  padding: 0.5vh 2vw; }

.caption-box img {
  position: absolute;
  top: 2px; }

.fLeft {
  float: left; }

.fRight {
  float: right; }

.txt-right {
  text-align: right; }

.chtitle {
  margin: 0 auto;
  text-align: center;
  color: #945706; }

.ctr {
  margin: 0 auto; }

.brdr-lt {
  border: 1px solid burlywood; }

.brdr-dk {
  border: 1px solid black; }

.right {
  position: relative;
  margin-left: 40vw;
  display: inline-block; }

.pRel {
  position: relative; }

.pAbs {
  position: absolute; }

/* Images side-by-side */
.neighbors-container {
  color: #d0b588;
  background-color: transparent;
  text-align: center; }

.neighbors-item {
  display: inline-block; }

img.neighbors-item {
  height: 12vw; }

.prettyprint ol.linenums > li {
  list-style-type: decimal-leading-zero; }

.linenums {
  margin-left: 2vw; }

.dkbg3 {
  background-color: rgba(30, 35, 55, 0.6); }

.ltbg3 {
  background-color: rgba(219, 193, 168, 0.5); }

.brdr-w {
  padding: 1%;
  border: 1px solid ivory; }

.brdr-b {
  padding: 1%;
  border: 1px solid black; }

.intrinsic-ratio-wrapper {
  position: relative;
  padding-bottom: 30%;
  height: 0; }

.intrinsic-ratio-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; }

.debossed-dk-frame {
  padding: 1%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
  border: 1px solid rgba(52, 54, 53, 0.6);
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  box-shadow: inset 10px 7px 6px -2px black; }

.bold {
  font-weight: bold; }

.clean {
  font-family: "Raleway", Sans-Serif; }

.comfort {
  font-family: "Comfortaa", cursive; }

.cabin {
  font-family: "Cabin", Sans-Serif; }

.codePr {
  font-family: "Code Source Pro", monospace; }

.thin {
  font-family: "Roboto", Sans-Serif; }

/* jquery styles */
.jq-entry {
  background-color: #a6b696;
  border: 1px solid #f5facf;
  height: 80vh;
  overflow: auto;
  position: relative;
  font-family: "Comfortaa", cursive;
  font-size: 1.4vw; }
  .jq-entry p {
    font-family: "Raleway", Sans-Serif; }
  .jq-entry .framed6 {
    font-size: 1em;
    background-color: #58708a; }
  .jq-entry .prettyprint {
    font-size: 1.2vw;
    background-color: #445e5e;
    padding: 2vh 2vw; }
  .jq-entry .plain-frame3 {
    font-size: .9em; }
  .jq-entry div {
    margin-bottom: 0.5vw;
    margin-top: 0;
    font-family: "Comfortaa", cursive;
    font-size: 2vw; }
  .jq-entry .simple-frame {
    font-size: 1em;
    padding: 3vw 5vw; }

div.ecma-entry {
  height: 80vh;
  background-color: #b3976e;
  border: 1px solid #945706;
  border-radius: 10px;
  box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.7) inset;
  overflow: auto;
  position: relative; }
  div.ecma-entry pre.prettyprint {
    background-color: #445e5e;
    padding: 2vh 2vw;
    border: 1px solid burlywood; }
  div.ecma-entry .thin {
    font-family: "Roboto", Sans-Serif; }
  div.ecma-entry a {
    background-color: #d0b588; }
  div.ecma-entry div {
    font-family: "Roboto", Sans-Serif; }

div.ltbg {
  padding: baseline; }
  div.ltbg p {
    margin: 1vw; }

code,
pre {
  padding: 1vw; }

pre.code-sample {
  font-family: "Code Source Pro", monospace, Sans-Serif !important; }
  pre.code-sample #condensed-list li {
    margin: 0.5vh auto;
    list-style-type: lower-latin; }

pre.prettyprint {
  border: 1px solid #f5facf; }

div.react-entry {
  background-color: #008080;
  overflow: auto;
  height: 80vh;
  border: 1px solid #e6d8cc; }
  div.react-entry .chtitle {
    font-family: "Roboto", Sans-Serif;
    color: #441f1d; }

.react-frame-light {
  padding: 2%;
  background-color: #cdcdcd;
  border: 1px solid #18223b;
  color: #18223b;
  font-family: "Raleway", Sans-Serif; }

div.sass-entry {
  background-color: #18223b;
  overflow: auto;
  height: 80vh;
  border: 1px solid #e6d8cc; }
  div.sass-entry h4 a {
    margin: 2vh auto;
    color: ivr;
    text-decoration-color: ivr; }
  div.sass-entry .prettyprint {
    border: 1px solid #f5facf;
    margin: 2vh auto; }

pre.cssnote {
  text-align: left;
  color: #785b41; }

.ctr-container-ex1 {
  border: 1px dashed grey;
  box-shadow: none;
  height: 25vh;
  width: 100%;
  text-align: center; }

div.ctr-example1 {
  display: inline-block;
  height: 100%;
  width: 20vw;
  background-color: #637571;
  color: wheat;
  border: 1px solid #785b41; }

.teal {
  color: teal; }

.ctr-container-ex2 {
  border: 1px dashed #9a854e;
  box-shadow: none;
  height: 40vh;
  position: relative; }

.ctr-example2 {
  color: #79e286;
  background-color: rgba(45, 44, 44, 0.7);
  font-family: "Raleway", Sans-Serif;
  height: 100%;
  padding: 1%;
  border: 1px solid #79e286;
  width: 40vw;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20vw; }

.ctr-container-ex3 {
  position: relative;
  height: 50vh;
  width: 100%;
  border: 1px dashed #eb473d; }

.ctr-example3 {
  height: 300px;
  border: 1px solid #a38853;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.home-container,
.home-entry {
  font-family: "Roboto", Sans-Serif;
  line-height: 1.5vw;
  position: relative; }
  .home-container a::before,
  .home-entry a::before {
    content: none; }
  .home-container .debossed-dk-frame,
  .home-entry .debossed-dk-frame {
    color: #466b4d;
    margin-right: 0;
    margin-bottom: 1vh; }
  .home-container div:hover,
  .home-entry div:hover {
    color: #cdcdcd; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 7vh;
  width: 100%;
  text-align: center;
  color: rgba(161, 172, 166, 0.5);
  padding: 1% auto;
  background: linear-gradient(transparent, rgba(63, 106, 150, 0.2)); }
  footer ul li {
    display: inline-block;
    margin: 0 2vw; }

div.angular-entry {
  color: #f28b02;
  overflow: auto;
  height: 80vh;
  border: 1px solid #e6d8cc;
  background-color: #441f1d; }
  div.angular-entry h4 a {
    margin: 2vh auto;
    color: #e6d8cc;
    text-decoration: none; }
  div.angular-entry h4 a:hover {
    color: #79e286; }
  div.angular-entry .prettyprint {
    border: 1px solid #f5facf;
    margin: 2vh auto; }
  div.angular-entry .col-2 {
    column-rule: none; }
  div.angular-entry h1 {
    font-family: "Raleway", Sans-Serif; }

div.node-entry {
  background-color: #2b503b;
  border: 1px solid white;
  color: white;
  overflow: auto;
  height: 80vh; }

div.sql-entry {
  background-color: #18223b;
  border: 1px solid white;
  color: white;
  overflow: auto;
  height: 80vh;
  position: relative; }
  div.sql-entry a {
    background-color: rgba(128, 128, 128, 0.35); }

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  box-shadow: 2px 2px 6px 1px black; }

th, td {
  text-align: center;
  color: black;
  padding: .4vh .2vw; }

tr:nth-child(even) {
  background-color: #f2f2f2; }

th {
  background-color: brown;
  color: white; }

.col-2 {
  padding: 0 2%;
  column-rule: 1px solid burlywood; }

hr {
  margin: .5vh 20vw; }

.bright-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid green;
  box-shadow: 2px 2px 6px 1px black; }
  .bright-table th {
    background-color: darkblue; }
  .bright-table tr:nth-child(even) {
    background-color: #f2f2f2; }
  .bright-table tr:nth-child(odd) {
    background-color: skyblue; }

div.es6-entry {
  background-color: #945706;
  overflow: auto;
  height: 80vh;
  border: 1px solid #e6d8cc; }

.chtitle {
  color: #d0b588; }

.prettyprint {
  border: 1px solid burlywood; }

.clean,
.comfort {
  font-weight: 400; }

p .softwhite {
  color: !important; }

div.svg-entry {
  background-color: #575757;
  color: #d0b588;
  box-shadow: inset 0px 0px 42px 2px black;
  overflow: auto;
  height: 80vh;
  border: 1px solid #e6d8cc;
  position: relative; }

.box-border {
  border: 1px solid wheat; }

/* color classes */
.mango {
  color: #ebb861; }

.sand {
  color: #d0b588; }

.mutedBlue {
  color: #3f6a96; }

.mutedPurp {
  color: #827a90; }

.mutedOrange {
  color: #9a854e; }

.y {
  color: yellow; }

.softsand-bg {
  background-color: #b3976e; }

.softsand {
  color: #b3976e; }

.softbrown-bg {
  background-color: #2c2d32; }

.softbrown {
  color: #2c2d32; }

.softred-bg {
  background-color: #b0493a; }

.softred {
  color: #b0493a; }

.softblue-bg {
  background-color: #436475; }

.softblue {
  color: #436475; }

.pastpink {
  color: #9e869b; }

.pastBlue {
  color: #58708a; }

.offWhite {
  color: #d9d4c5; }

.orange {
  color: #f28b02; }

.dkorange {
  color: #945706; }

.grey-bg {
  background-color: #575757;
  padding: 1%; }

.dkgrey {
  color: #575757; }

.dkgrey2 {
  color: #868585; }

.ltgrey {
  color: #bdbdbd; }

.ivr {
  color: #e6d8cc; }

.wh {
  color: #fff; }

.softwhite {
  color: #cdcdcd; }

.ltblue {
  color: #3f71f1; }

.purp {
  color: purple; }

.paleY {
  color: #e8e598; }

.pastY {
  color: #bfbc64; }

.reddrk {
  color: #410211; }

.navy {
  color: navy; }

.dkblue {
  color: #18223b; }

.ltgreen {
  color: #79e286; }

.transGreen {
  color: rgba(50, 179, 132, 0.78); }

.pastOlive {
  color: #2b503b; }

.coral {
  color: coral; }

.dkred {
  color: #441f1d; }

.dkred2 {
  color: #612c2a; }

.dkred3 {
  color: #963532; }

.mustard {
  color: #a38853; }

.fuch {
  color: fuchsia; }

.ltred {
  color: #eb473d; }

.black {
  color: black; }

.dkbg {
  background-color: rgba(45, 44, 44, 0.7); }

.dkbg2 {
  background-color: rgba(47, 9, 15, 0.45); }

.ltbg {
  background-color: rgba(199, 190, 132, 0.5); }

.ltbg2 {
  color: navy;
  background-color: rgba(160, 182, 184, 0.6);
  padding: 2%; }

.ltbg3 {
  background-color: rgba(128, 128, 128, 0.35); }

.trans {
  color: transparent; }

.dkghost {
  background-color: rgba(52, 54, 53, 0.6); }

.ltghost {
  background-color: rgba(161, 172, 166, 0.5); }

pre.prettyprint {
  border: 1px solid #f5facf; }

div.gsap-entry {
  background-color: #945706;
  overflow: auto;
  height: 80vh;
  border: 1px solid #e6d8cc; }

.col-2 {
  column-rule: none; }

div.journal-entry {
  box-shadow: inset 2px 2px 20px 5px rgba(0, 0, 0, 0.8);
  margin: 1vw;
  padding: 3vw 6vw;
  background: url("img/blank_page.jpg") no-repeat center center fixed;
  background-size: cover;
  line-height: 1.6em;
  background-color: rgba(128, 128, 128, 0.35);
  border: 1px solid #f5facf;
  font-family: "Special Elite", serif;
  font-size: 1vw;
  height: 80vh;
  overflow: auto;
  text-shadow: 0 2px 3px #f1e8ce; }
  div.journal-entry h4 {
    display: inline-block;
    float: left; }
  div.journal-entry h3 {
    text-align: center; }
    div.journal-entry h3.subtitle {
      text-align: left; }
  div.journal-entry h2.date {
    text-align: right;
    font-size: 1vw;
    font-family: "Raleway", Sans-Serif; }
  div.journal-entry ol.todo li {
    list-style: none; }
  div.journal-entry ol.done li list {
    style: decimal; }
  div.journal-entry .done ol li li {
    padding: baseline;
    font-weight: bold; }
  div.journal-entry .done ol li p {
    margin: auto; }

.journal-container a:active,
.journal-container a:focus,
.journal-container a:link,
.journal-container a:visited,
.journal-container a {
  margin: 2vh auto;
  color: #3f71f1;
  text-decoration: none; }
.journal-container a::before {
  content: "📌"; }
.journal-container a:hover {
  color: #79e286; }

div.grid-entry {
  background: linear-gradient(180deg, #1d1e20 0%, #17161f 100%);
  box-shadow: inset 2px 2px 2px 0px black;
  overflow: auto;
  color: #b3976e;
  font-family: "Roboto", Sans-Serif;
  height: 80vh;
  border: 1px solid #b0493a; }
  div.grid-entry pre.prettyprint {
    border: 1px solid #575757;
    font-size: 1em; }
  div.grid-entry pre {
    font-family: "Roboto", Sans-Serif; }
    div.grid-entry pre div {
      margin: 1% auto;
      border-radius: 10px; }

.softred-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: #b0493a;
  box-shadow: inset 4px 2px 8px 1px rgba(0, 0, 0, 0.8);
  color: #cdcdcd; }

.softbrown-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: #2c2d32;
  box-shadow: inset 4px 2px 8px 1px rgba(0, 0, 0, 0.8); }

.softsand-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: #b3976e;
  box-shadow: inset 4px 2px 8px 1px rgba(0, 0, 0, 0.8); }

.softblue-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: #436475;
  box-shadow: inset 4px 2px 8px 1px rgba(0, 0, 0, 0.8); }

.softwhite-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: #cdcdcd;
  box-shadow: inset 4px 2px 8px 1px rgba(0, 0, 0, 0.8);
  color: black;
  font-family: "Roboto", Sans-Serif; }

a::before {
  content: "📌"; }

/* ===================CSS GRID for EXAMPLES ========================== */
.grid-exA {
  display: grid;
  grid-template-columns: 20vw 20vw 15vw;
  grid-template-rows: 20vh 15vh;
  grid-auto-rows: 10vh;
  grid-gap: 1vh; }
  .grid-exA div {
    background-color: #575757;
    padding: 0.2em;
    color: #cdcdcd;
    margin: 1%;
    border: 1px solid #b0493a; }

.grid-exB {
  display: grid;
  grid-template-columns: 2fr 1fr 500px;
  grid-gap: 1vh;
  border: 1px solid black; }
  .grid-exB div {
    background-color: #436475;
    padding: 0.2em;
    border: 1px solid rgba(50, 179, 132, 0.78); }

.grid-exC {
  display: grid;
  grid-template-columns: repeat(2, 1fr 3fr);
  grid-gap: 1vh;
  border: 1px solid black; }
  .grid-exC div {
    background-color: #436475;
    padding: 0.2em;
    border: 1px solid rgba(50, 179, 132, 0.78); }

.grid-exD {
  display: grid;
  grid-template-columns: 50px repeat(3, 3fr);
  grid-template-rows: 50px repeat(2, 8vh);
  grid-gap: 1vh;
  border: 1px solid black; }

div.grid-exD div {
  background-color: #436475;
  padding: 0.2em;
  border: 1px solid rgba(50, 179, 132, 0.78); }

.grid-exF {
  display: grid;
  grid-template-columns: 50px repeat(3, 3fr);
  grid-template-rows: 50px repeat(2, 8vh);
  grid-gap: 1vh;
  border: 1px solid black; }

div.grid-exF div {
  background-color: #436475;
  padding: 0.2em;
  border: 1px solid rgba(50, 179, 132, 0.78); }

/*# sourceMappingURL=master.css.map */
