/* SASS START:
sass --watch master.scss:master.css
*/
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$baseline: 1vw; // $baseline:
$title-font: 40px Tahoma, Helvetica, Arial, Sans-Serif;
$fonts: ( Comfort: ('Comfortaa', cursive), Cabin: ('Cabin', Sans-Serif), CodePro: ('Code Source Pro', monospace), TypeWriter: ('Special Elite', serif), Clean: ('Raleway', Sans-Serif) );
$colors: (
trans30: rgba(#808080, 0.35),
mango:#ebb861,
sand:#d0b588,
orange:#f28b02,
dkorange: #945706,
mutedOrange: #9a854e,
dkgrey:#575757,
ltgrey:#bdbdbd,
ivr:#e6d8cc,
wh: #fff,
mustard: #a38853,
trim: #f5facf,
txtShadow: #f1e8ce,
ltblue:#3f71f1,
navy: navy,
mutedBlue:#3f6a96,
dkblue:#18223b,
ltgreen:#79e286,
pastOlive: #758a88,
transGreen: rgba(#32b384, 0.78),
transPastGreen: rgba(#a6b696, 0.66),
pastgreen: #a6b696,
pastred: #c29d9d,
dkred:#441f1d,
ltred:#eb473d,
shadow: rgba(#000, 0.9),
dkbg: rgba(#2d2c2c, 0.7),
ltbg: rgba(#c7be84, 0.5),
y: yellow,
paleY: #e8e598,
pastY: #bfbc64,
purp: purple,
fuch: fuchsia,
reddrk: #410211);

@import 'scss/general/general';
@import 'scss/jq/jquery';
@import 'scss/journal/journal';
@import 'scss/ecma/ecma';
@import 'scss/misc/misc';
@import 'scss/sass/sass';
@import 'scss/home/home';
@import 'scss/angular/angular';
@import 'scss/node/node';
@import 'scss/es6/es6';
@import 'scss/colors/colors';
