/* SASS START:
sass --watch master.scss:master.css
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400; }

/* this comment will show in css*/
li {
  list-style: none; }

body {
  padding: 1vw;
  font-family: "Code Source Pro", monospace;
  /*90 degree rot state-name*/
  /* quiz blur */
  /*-------NG-ANIMATE--------------*/
  /* start 'enter' transition on main view */
  /* end 'enter' transition on main view */ }
  body nav {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    body nav a {
      text-decoration: none; }
    body nav ul {
      width: 60%;
      margin: auto; }
    body nav ul li a {
      color: #575757; }
    body nav ul li {
      display: inline-block;
      text-align: center;
      width: 8vw; }
  body div.bg-image:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("img/steelbg.jpg");
    width: 100%;
    height: 100%;
    /* Apply multiple filters */
    filter: contrast(175%) brightness(23%); }
  body .jq-container {
    margin: 0;
    padding: 0; }
  body .journal-container {
    overflow-x: hidden; }
  body aside {
    position: absolute; }
    body aside span.rot90 {
      top: 50%;
      transform: rotate(90deg);
      transform-origin: left top 0;
      float: left;
      left: 0.5vw;
      position: absolute;
      font-family: "Cabin", Sans-Serif;
      font-size: 1.4vw;
      letter-spacing: 1.4em;
      color: #c29d9d; }
  body .ans {
    padding: 0;
    -webkit-filter: blur(6px);
    font-family: "Raleway", Sans-Serif;
    font-size: 2.8vw;
    font-weight: 400;
    display: inline-block;
    opacity: 1%; }
    body .ans:hover {
      /*-webkit-filter: blur(0px);*/
      animation: blurtxt 0.5s 1 forwards; }
@-webkit-keyframes blurtxt {
  0% {
    -webkit-filter: blur(3px); }
  100% {
    -webkit-filter: blur(0px); } }
  body main.ng-enter {
    /* transition on enter for .5s */
    transition: 0.5s;
    /* start with opacity 0 (invisible) */
    opacity: 0; }
  body main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1; }
  body div.entry {
    margin: 1vw;
    padding: 3vw; }
    body div.entry p {
      font-size: 2.5vh;
      font-family: Trebuchet, Sans-Serif; }
    body div.entry hr {
      width: 70%;
      margin: 5vh auto; }
    body div.entry h4 {
      display: inline-block;
      float: left; }
    body div.entry h3 {
      text-align: center; }
      body div.entry h3.subtitle {
        text-align: left; }
    body div.entry h2.date {
      text-align: right;
      font-size: 1vw;
      font-family: "Raleway", Sans-Serif; }
    body div.entry ol a {
      color: purple; }
      body div.entry ol a:hover {
        color: skyblue; }
    body div.entry ol.todo li {
      list-style: none; }
    body div.entry ol.done li list {
      style: decimal; }
    body div.entry .done ol li li {
      padding: baseline;
      font-weight: bold; }
    body div.entry .done ol li p {
      margin: auto; }

div.misc-entry {
  background-color: #f5facf; }

div.ecma-entry {
  border: 1px solid #f5facf;
  height: 80vh;
  font-family: "Code Source Pro", monospace;
  font-size: 2vw;
  overflow: auto;
  position: relative; }
  div.ecma-entry .prettyprint {
    font-size: 1.5vw;
    background-color: #445e5e;
    padding: 2vh 2vw; }
  div.ecma-entry div {
    margin-bottom: 4vw; }

div.misc-entry {
  background-color: #ebb861; }

div.journal-entry {
  box-shadow: inset 2px 2px 20px 5px rgba(0, 0, 0, 0.9);
  margin: 1vw;
  padding: 3vw;
  background: url("img/blank_page.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: contrast(140%);
  line-height: 1.4em;
  background-color: rgba(128, 128, 128, 0.35);
  border: 1px solid #f5facf;
  height: 80vh;
  font-family: "Special Elite", serif;
  font-size: 1.4vw;
  overflow: auto;
  text-shadow: 0 2px 3px #f1e8ce; }

/* width classes */
.w20 {
  width: 20vw; }

.w40 {
  width: 40vw; }

.w60 {
  width: 60vw; }

.w80 {
  width: 80vw; }

pre.prettyprint {
  font-size: 1.3em;
  background-color: rgba(242, 219, 150, 0.89); }

/* jquery styles */
.jq-entry {
  border: 1px solid #f5facf;
  height: 80vh;
  font-family: "Code Source Pro", monospace;
  font-size: 2vw;
  overflow: auto;
  position: relative; }
  .jq-entry .prettyprint {
    font-size: 1.5vw;
    background-color: #445e5e;
    padding: 2vh 2vw; }
  .jq-entry div {
    margin-bottom: 4vw; }

.ctr {
  text-align: left;
  margin: auto; }

.bg {
  font-size: 2em; }

/* color classes */
.mango {
  color: #ebb861; }

.sand {
  color: #d0b588; }

.y {
  color: yellow; }

.orange {
  color: #f28b02; }

.dkgrey {
  color: #575757; }

.ltgrey {
  color: #bdbdbd; }

.ivr {
  color: #e6d8cc; }

.wh {
  color: #fff; }

.ltblue {
  color: #3f71f1; }

.purp {
  color: purple; }

.reddrk {
  color: #410211; }

.dkblue {
  color: #18223b; }

.ltgreen {
  color: #79e286; }

.dkred {
  color: #441f1d; }

.ltred {
  color: #eb473d; }

.dkbg {
  background-color: rgba(45, 44, 44, 0.7); }

.ltbg {
  background-color: rgba(199, 190, 132, 0.5); }

.shadn {
  box-shadow: 5px 5px 5px black;
  border: 1px solid wheat;
  margin: 1%;
  padding: 1%; }

.shadw {
  box-shadow: 10px 10px 25px black;
  margin: 1%;
  padding: 1%; }

.code-questions {
  width: 80vw;
  color: #e6d8cc;
  border: 1px solid white;
  line-height: 2.5em;
  font-size: 0.8em;
  font-weight: 400;
  font-family: "Raleway", Sans-Serif;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.5vw;
  margin: auto; }
  .code-questions .middle {
    margin-left: 25%; }

.code-questions2 {
  position: relative;
  border: 1px solid ivory;
  background: #a6b696; }

.code-questions3 {
  position: relative;
  border: 1px solid lightgreen;
  background: #c29d9d; }

img {
  margin: 1vw;
  position: relative;
  right: 0;
  width: 60vw;
  border: 1px solid maroon; }

pre {
  white-space: pre-wrap; }

#appName {
  position: absolute;
  right: 30px;
  top: 10px;
  opacity: 1;
  color: #a6b696;
  font-family: "Cabin", Sans-Serif;
  font-size: 1.5vw;
  letter-spacing: 0.4em; }

a[ui-sref] {
  font-family: "Cabin", Sans-Serif;
  font-size: 1.2vw;
  text-decoration: overline;
  text-decoration-color: #a6b696;
  transition: background-color 2s; }

a[ui-sref]:hover {
  background-color: rgba(166, 182, 150, 0.66); }

/*# sourceMappingURL=master.css.map */
