div.svg-entry {
  background-color: map-get($colors, dkgrey);
  color: map-get($colors, sand);
  box-shadow: inset 0px 0px 42px 2px black;
  overflow: auto;
  height: 80vh;
  border: 1px solid map-get($colors, ivr);
  position: relative;
}

.box-border { // delineates svg samples in the entry
  border: 1px solid wheat;
}
