* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
// This comment wont show on css
/* this comment will show in css*/
li {
  list: {
    style: none;
  }
}

body {
  padding: $baseline;
  font: {
    family: map-get($fonts, CodePro);
    size: 1.2vw;
  }

  .prettyprint {
    font: {
      family: map-get($fonts, CodePro);
    }
  }

  div.bg-image:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('img/steelbg.jpg');
    width: 100%;
    height: 100%;
    filter: contrast(175%) brightness(23%);
  }
}
/*90 degree rot state-name*/
aside {
  position: absolute;

  span.rot90 {
    top: 50%;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
    left: 0.5vw;
    position: absolute;
    font: {
      family: map-get($fonts, Cabin);
      size: 1.4vw;
    }
    letter-spacing: 1.4em;
    // opacity: .5;
    color: map-get($colors, pastred);
  }
}
/* quiz blur */
.ans {
  padding: 0;
  -webkit-filter: blur(6px);
  font: {
    family: map-get($fonts, Clean);
    size: 2.8vw;
    weight: 400;
  }
  display: inline-block;
  opacity: 1%;

  &:hover {
    /*-webkit-filter: blur(0px);*/
    animation: blurtxt 0.5s 1 forwards;
  }
}
@-webkit-keyframes blurtxt {
  0% {
    -webkit-filter: blur(3px);
  }

  100% {
    -webkit-filter: blur(0px);
  }
}
/*-------NG-ANIMATE--------------*/
/* start 'enter' transition on main view */
main.ng-enter {
  /* transition on enter for .5s */
  transition: 0.5s;
  /* start with opacity 0 (invisible) */
  opacity: 0;
}
/* end 'enter' transition on main view */
main.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}

div.entry {
  margin: $baseline;
  padding: $baseline * 3;

  p {
    font: {
      size: 2.5vh;
      family: Trebuchet, Sans-Serif;
    }
  }

  .caption {
    color: map-get($colors, sand);
  }

  hr {
    width: 70%;
    margin: 5vh auto;
  }
}
/* width classes */
.w10 {
  width: 10vw;
}

.w20 {
  width: 20vw;
}

.w40 {
  width: 40vw;
}

.w60 {
  width: 60vw;
}

.w80 {
  width: 80vw;
}

pre.prettyprint {
  font: {
    size: 1vw;
  }
  background-color: rgba(242, 219, 150, 0.89);
}

.ctrtxt {
  text-align: center;
  margin: auto;
}

.bg {
  font-size: 2em;
}

.shadn {
  box-shadow: 5px 5px 5px black;
  border: 1px solid wheat;
  margin: 1%;
  padding: 1%;
}

.shadw {
  box-shadow: 10px 10px 25px black;
  margin: 1%;
  padding: 1%;
}

.code-questions {
  width: 80vw;
  color: map-get($colors, ivr);
  border: 1px solid white;
  line-height: 2.5em;
  font: {
    size: 0.8em;
    weight: 400;
    family: map-get($fonts, Clean);
  }
  background-color: rgba(0, 0, 0, .8);
  padding: 1.5vw;
  margin: auto;

  & .middle {
    margin: {
      left: 25%;
    }
  }
}

.code-questions2 {
  position: relative;
  border: 1px solid ivory;
  background: map-get($colors, pastgreen);
}

.code-questions3 {
  position: relative;
  border: 1px solid lightgreen;
  background: map-get($colors, pastred);
}

img {
  margin: 1vw;
  position: relative;
  right: 0;
  width: 60vw;
  border: 1px solid maroon;
}

pre {
  white-space: pre-wrap;
  font: {
    family: map-get($fonts, Comfort);
    // size: 2vw;
  }
}

#appName {
  position: absolute;
  right: 30px;
  top: 10px;
  opacity: 1;
  color: map-get($colors, pastgreen);
  font: {
    family: map-get($fonts, Cabin);
    size: 1.5vw;
  }
  letter-spacing: 0.4em;
}

.navlink-container {
  a[ui-sref] {
    font: {
      family: map-get($fonts, Cabin);
      size: 1.2vw;
      color: wheat;
    }
    text-decoration-color: map-get($colors, pastgreen);
    transition: all 0.6s;

    &:hover {
      color: ivory;
    }
  }
}

nav.navbar {
  background-color: map-get($colors, mutedBlue);
  position: static; //FIXME: not sure what to do here.
  margin-top: 3vh;
  border: 2px solid map-get($colors, dkbg);
  box-shadow: inset 1px 1px 20px 8px rgba(#000000, 0.8);
  a {
    color: transparent;
    // background-color: map-get($colors, shadow);
    text-decoration: none;
  }
  &:hover {
    box-shadow: inset 0px 0px 0px 0px rgba(#000000, .8);
    border: 2px solid map-get($colors, sand);
    transition: all 2s;
    a {
      color: map-get($colors, sand);
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
  }

  ul li {
    display: inline;
    text-align: center;
    width: 7vw;
  }
}

a[ui-sref] {
  // background-color: map-get($colors, transPastGreen);
  // color: map-get($colors, ivr);
  opacity: 1;
  // color: black;
}

// .toTrans {
//   color: transparent;
//   transition: color 2s;
// }

a[ui-sref]:hover {
  // color: #c8a868;
  color: map-get($colors, mutedOrange);
  transition: color 1s;
}
//FIXME: trying to remove the visited purple color
a:active,
a:focus,
a:hover,
a:link,
a:visited,
h4 a {
  margin: 2vh auto;
  color: ivr;
  text-decoration: {
    color: ivr;
  }
}

.underline {
  text-decoration: underline;
}

.txtLeft {
  text-align: left;
}

.simple-frame {
  border: 1px solid maroon;
  box-shadow: inset 1px 1px 4px 1px rgba(#000000, 0.61);
  background-color: map-get($colors, sand);
  font-family: Trebuchet, sans-serif;
  font-weight: 400;
  padding: 1vh 2vw;
  font: {
    weight: 400;
    family: Trebuchet, Sans-Serif;
    size: 1.4vw;
  }
}
.simple-frame2 {
  border: 1px solid maroon;
  box-shadow: 1px 1px 4px 1px map-get($colors, dkbg);
  background-color: map-get($colors, mustard);
  font-family: Trebuchet, sans-serif;
  font-weight: 400;
  padding: 1vh 2vw;
  font: {
    weight: 400;
    family: Trebuchet, Sans-Serif;
    size: 1.4vw;
  }
}

.framed1 {
  padding: 2%;
  font: {
    size: 1.4vw;
  }
  margin: auto;
  background: {
    color: map-get($colors, pastOlive);
  }
  border: 1px solid brown;
  box-shadow: inset 2px 2px 10px 2px black;
  color: map-get($colors, ltgrey);
}


.framed2 {
  // position: relative;
  padding: 2%;
  font: {
    size: 1.4vw;
  }
  margin: auto;
  background: {
    color: #e3ab7e;
  }
  border: 1px solid brown;
  box-shadow: inset 2px 2px 10px 2px black;
}

pre {
  color: map-get($colors, pastgreen);
  // border: 1px solid map-get($colors, purp);
}

.framed3 {
  box-shadow: 4px 4px 8px 2px black;
  background-color: map-get($colors, transGreen);
  padding: 2vh 2vw;
}
.framed4 {
    font-family: 'Raleway', sans-serif;
    padding: 2%;
    margin: 1%;
    background-color: rgb(55, 71, 78);
    color: rgb(237, 153, 111);
    padding: auto, 10%;
    text-align: left;
    border: 1px solid skyblue;
}

.sm {
  font-size: $baseline / 1.1;
}

.caption-box {
  position: relative;
  border: 1px solid green;
  background-color: #a2c0c6;
  box-shadow: 2px 2px 12px 0 black;
  height: auto;
  font: {
    family: map-get($fonts, Cabin);
    size: 1.2vw;
  }
  padding: 0.5vh 2vw;
}

.caption-box img {
  position: absolute;
  top: 2px;
}

.fLeft {
  float: left;
}

.fRight {
  float: right;
}
.chtitle {
  margin: 0 auto;
  text-align: center;
  font-family: map-get($fonts, Cabin);
  color: map-get($colors, dkorange);
}
