
div.journal-entry {
  box-shadow: inset 2px 2px 20px 5px map-get($colors, shadow);
  margin: $baseline;
  padding: $baseline * 3 ($baseline * 6);
  background: url("img/blank_page.jpg") no-repeat center center fixed;
  background-size: cover;
  line-height: 1.6em;
  background: {
    color: map-get($colors, trans30);
  }
  border: 1px solid map-get($colors, trim);
  font: {
    family: map-get($fonts, TypeWriter);
    size: 1vw;
  }
  height: 80vh;
  overflow: auto;
  text: {
    shadow: 0 2px 3px map-get($colors, txtShadow);
  }

    h4 {
      display: inline-block;
      float: left;
    }

    h3 {
      text: {
        align: center;
      }

      &.subtitle {
        text: {
          align: left;
        }
      }
    }

    h2.date {
      text: {
        align: right;
      }
      font: {
        size: 1vw;
        family: map-get($fonts, Clean);
      }
    }

    ol.todo {
      & li {
        list: {
          style: none;
        }
      }
    }

    ol.done {
      & li {
        list {
          style: decimal;
        }
      }
    }

    .done ol li {
      & li {
        padding: baseline;
        font: {
          weight: bold;
        }
      }

      p {
        margin: auto;
      }
}
}
.journal-container {
  a:active,
  a:focus,
  a:link,
  a:visited,
  a {
    margin: 2vh auto;
    color: map-get($colors, ltblue);
    text: {
      decoration: none;
    }
  }
  a::before {
    content: "📌";
  }

  a:hover {
    color: map-get($colors, ltgreen);
  }

}
