/* color classes */
.mango {
  color: map-get($colors, mango);
}

.sand {
  color: map-get($colors, sand);
}
.mutedOrange {
  color: map-get($colors, mutedOrange);
}
.y {
  color: map-get($colors, y);
}

.orange {
  color: map-get($colors, orange);
}

.dkorange {
  color: map-get($colors, dkorange);
}

.dkgrey {
  color: map-get($colors, dkgrey);
}

.ltgrey {
  color: map-get($colors, ltgrey );
}

.ivr {
  color: map-get($colors, ivr);
}

.wh {
  color: map-get($colors, wh);
}

.ltblue {
  color: map-get($colors, ltblue);
}

.purp {
  color: map-get($colors, purp);
}

.paleY {
  color: map-get($colors, paleY);
}

.pastY {
  color: map-get($colors, pastY);
}

.reddrk {
  color: map-get($colors, reddrk);
}

.navy {
  color: map-get($colors, navy);
}

.dkblue {
  color: map-get($colors, dkblue);
}

.ltgreen {
  color: map-get($colors, ltgreen);
}

.dkred {
  color: map-get($colors, dkred);
}

.mustard {
  color: map-get($colors, mustard);
}
.fuch {
  color: map-get($colors, fuch);
}
.ltred {
  color: map-get($colors, ltred);
}

.dkbg {
  background-color: map-get($colors, dkbg);
}

.ltbg {
  background-color: map-get($colors, ltbg);
}

.trans {
  color: transparent;
}
