pre.prettyprint {
  border:1px solid map-get($colors, dkgrey);
  font-size: 1.2em;
}
div.grid-entry {
background: linear-gradient(180deg, rgba(29, 30, 32, 1) 0%,rgba(23, 22, 31, 1) 100%);
  box-shadow: inset 2px 2px 2px 0px rgba(#000, 4);
  overflow: auto;
  color: map-get($colors, softsand);
  font-family: map-get($fonts, Thin);

  height: 80vh;
  border: 1px solid map-get($colors, softred);
  pre {
    font-family: map-get($fonts, Thin);
    div {
      margin: 1% auto;
      border-radius: 10px;
    }
  }
}
.softred-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: map-get($colors, softred);
box-shadow: inset 4px 2px 8px 1px map-get($colors, shadow);
  color: map-get($colors, softwhite);
}
.softbrown-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: map-get($colors, softbrown);
  box-shadow: inset 4px 2px 8px 1px map-get($colors, shadow);
}
.softsand-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: map-get($colors, softsand);
  box-shadow: inset 4px 2px 8px 1px map-get($colors, shadow);
}
.softblue-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: map-get($colors, softblue);
  box-shadow: inset 4px 2px 8px 1px map-get($colors, shadow);
}
.softwhite-fr {
  border-radius: 8px;
  padding: 1%;
  background-color: map-get($colors, softwhite);
  box-shadow: inset 4px 2px 8px 1px map-get($colors, shadow);
}
a::before {
  content: "📌";
}

/* ===================CSS GRID for EXAMPLES ========================== */
.grid-exA {
 display: grid;
 grid-template-columns: 20vw 20vw 15vw;
 grid-template-rows: 20vh 15vh;
 grid-auto-rows: 10vh;
 grid-gap: 1vh;
   div{
     background-color: map-get($colors, dkgrey);
     padding: 0.2em;
     color: map-get($colors, softwhite);
     margin: 1%;
     border: 1px solid map-get($colors, softred);
   }
}
.grid-exB {
 display: grid;
 grid-template-columns: 2fr 1fr 500px;
 grid-gap: 1vh;
 border: 1px solid black;
   div {
     background-color: map-get($colors, softblue);
     padding: 0.2em;
     border: 1px solid map-get($colors, transGreen);
   }
}

.grid-exC {
 display: grid;
 grid-template-columns: repeat(2, 1fr 3fr);
 grid-gap: 1vh;
 border: 1px solid black;
   div {
     background-color: map-get($colors, softblue);
     padding: 0.2em;
     border: 1px solid map-get($colors, transGreen);
   }
}
.grid-exD {
 display: grid;
 grid-template-columns: 50px repeat(3, 3fr);
 grid-template-rows: 50px repeat(2, 8vh);
 grid-gap: 1vh;
 border: 1px solid black;
}
div.grid-exD div {
  background-color: map-get($colors, softblue);
  padding: 0.2em;
  border: 1px solid map-get($colors, transGreen);
}
