.home-container,
.home-entry {
  font-family: map-get($fonts, Thin);
  line-height: $baseline * 1.5;
  a::before {
    content: none;
  }

  .debossed-dk-frame {
    color: rgb(70, 107, 77);
    margin-right: 0;
    margin-bottom: 1vh;
  }

  & div:hover {
    color: map-get($colors, softwhite);
  }
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 7vh;
  width: 100%;
  text-align: center;
  color: map-get($colors, ltghost);

  ul li {
    display: inline-block;
    margin: 0 2vw;
  }
  padding: 1% auto;
  // background: red;
  background: linear-gradient(transparent, rgba(63, 106, 150, 0.2));
}

.grade-bg {}
