.home-container, .home-entry {
  font-family: map-get($fonts, Thin);
  a::before {
    content: none;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  text-align: center;
  ul li {
    display: inline-block;
    margin: 0 2vw;
  }
  padding: 1% auto 5% auto;
}
.grade-bg {
  background: linear-gradient(transparent, rgba(63, 106, 150, 0.2));
}
