div.angular-entry {
  color: map-get($colors, orange);
  background: {
    color: map-get($colors, dkred);
  }
  h4 a{
    margin: 2vh auto;
    color: map-get($colors, ivr);
    text-decoration:none;
  }
  h4 a:hover {
    color: map-get($colors, ltgreen);
  }
  .prettyprint {
    border: 1px solid map-get($colors, trim);
    margin: 2vh auto;
  }
}
